{% extends 'alpacastats/base.html' %}

{% load staticfiles %}

{% block content %}
{% if events %}
{% for event, track in events %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">{{ event.name }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ event.picture }}" alt="..." class="img-rounded img-responsive">
                    </div>
                    <div class="col-md-8">
                        <p class="panel-text">{{ event.description }}</p>
                    </div>
                    <div class="col-md-2 this">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                    </div>
                </div>
                {% if track %}
                <div class="row current-song">
                    <div class="col-md-1">
                        <span class="glyphicon glyphicon-play-circle"></span>
                    </div>
                    <div class="col-md-9" id="hey">
                        <p><span>Currently being played :</span> {{ track.name }} - {{ track.artist }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endfor %}
{% else %}
<h1>No Events yet!</h1>
{% endif %}
{% endblock %}