{% extends 'alpacastats/base.html' %}

{% load staticfiles %}

{% block navbar %}
{% include 'alpacastats/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary event">
                <div class="panel-heading">Search through pool</div>
                <div class="panel-body bdypadding">
                    <form action="{% url 'alpacastats:pool' event.id %}" method="post">
                        {% csrf_token %}
                    <div class="row">
                            <div class="col-md-5">
                                Song name:
                            </div>
                            <div class="col-md-5">
                                Artist name:
                            </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <input id="song_name" type="text" class="form-control" name="song_name" value="{{ current_song }}" placeholder="Search Song Names">
                        </div>
                        <div class="col-md-5">
                            <input id="artist_name" type="text" class="form-control" name="artist_name" value="{{ current_artist }}" placeholder="Search Artist Names">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit">Search  <span class="glyphicon glyphicon-search" value="OK"></span></button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- END TWO EVENT -->
    <!-- TWO EVENT -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary event">
                <div class="panel-heading">Pool</div>
                <div class="panel-body">
                    <table id="table">
                    <thead>
                        <tr>
                            <th data-field="track_name">Track Name</th>
                            <th data-field="artist">Artist</th>
                            <th data-field="up-down">Up/down votes</th>
                            <th data-field="type">Track type</th>
                        </tr>
                    </thead>





                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}

{% block footer_scripts %}

    <script src="{% static 'alpacastats/js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function(){
        $('#table').bootstrapTable({
           data:{{data|safe}}
        });
    });

    </script>

{% endblock %}