<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <!-- The above 3 meta tags *must* come first in the head-->
    <title>Alpaca</title>
    <!-- Bootstrap -->
    <link href="{% static 'alpacastats/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Other -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800,900' rel='stylesheet' type='text/css'>
    <link href="{% static 'alpacastats/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <p class="logo-type">Alpaca</p>
                </a>
                <a class="navbar-right get-started">
                    <p class="navbar-text">Current</p>
                </a>
                <a class="navbar-right get-started">
                    <p class="navbar-text">Pool</p>
                </a>
            </div>
        </nav>
    </header>
    <!-- TWO EVENT -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary event">
                <div class="panel-heading">Search through pool</div>
                <div class="panel-body bdypadding">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Search Artists">
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Search Song Names">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit">Search  <span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- END TWO EVENT -->
    <!-- TWO EVENT -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary event">
                <div class="panel-heading">Pool</div>
                <div class="panel-body">
                    <table id="table"></table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- END TWO EVENT -->
<!-- jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Everything else below -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="{% static 'alpacastats/js/bootstrap.min.js' %}"></script>
    <script>
        $('#table').bootstrapTable({
            columns: [{
                field: 'id',
                title: 'Something'
            }, {
                field: 'name',
                title: 'Song Name'
            }, {
                field: 'price',
                title: 'Upvotes/Downvotes'
            }],
            data: [{
                id: 1,
                name: 'Badzu - Let\'s Have a Party',
                price: '26/125'
            }, {
                id: 2,
                name: 'Shakira - Waka Waka',
                price: '14/65'
            }, {
                id: 3,
                name: 'Item 2',
                price: '75/256'
            }, {
                id: 4,
                name: 'Item 2',
                price: '1337/69'
            }, {
                id: 3,
                name: 'Item 2',
                price: '25/12'
            }, {
                id: 4,
                name: 'Item 2',
                price: '0/1'
            }]
        });
    </script>
</body>
</html>