{% extends 'alpacastats/base.html' %}

{% load staticfiles %}

{% block navbar %}
    <header>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <p class="logo-type">Alpaca</p>
                </a>
                <a class="navbar-right get-started">
                    <p class="navbar-text">Current</p>
                </a>
                <a class="navbar-right get-started">
                    <p class="navbar-text">Pool</p>
                </a>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary event">
                <div class="panel-heading">Search through pool</div>
                <div class="panel-body bdypadding">
                    <form action="{% url 'alpacastats:pool' event.id %}" method="post">
                        {% csrf_token %}
                    <div class="row">
                            <div class="col-md-5">
                                Song name:
                            </div>
                            <div class="col-md-5">
                                Artist name:
                            </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <input id="song_name" type="text" class="form-control" name="song_name" value="{{ current_song }}" placeholder="Search Song Names">
                        </div>
                        <div class="col-md-5">
                            <input id="artist_name" type="text" class="form-control" name="artist_name" value="{{ current_artist }}" placeholder="Search Artist Names">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit">Search  <span class="glyphicon glyphicon-search" value="OK"></span></button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- END TWO EVENT -->
    <!-- TWO EVENT -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary event">
                <div class="panel-heading">Pool</div>
                <div class="panel-body">
                    <table id="table"></table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}

{% block footer_scripts %}

    <script src="{% static 'alpacastats/js/bootstrap.min.js' %}"></script>
    <script>
        $('#table').bootstrapTable({
            columns: [{
                field: 'id',
                title: 'Something'
            }, {
                field: 'name',
                title: 'Song Name'
            }, {
                field: 'price',
                title: 'Upvotes/Downvotes'
            }],
            data: [{
                id: 1,
                name: 'Badzu - Let\'s Have a Party',
                price: '26/125'
            }, {
                id: 2,
                name: 'Shakira - Waka Waka',
                price: '14/65'
            }, {
                id: 3,
                name: 'Item 2',
                price: '75/256'
            }, {
                id: 4,
                name: 'Item 2',
                price: '1337/69'
            }, {
                id: 3,
                name: 'Item 2',
                price: '25/12'
            }, {
                id: 4,
                name: 'Item 2',
                price: '0/1'
            }]
        });
    </script>

{% endblock %}