{% extends 'alpacastats/base.html' %}

{% load staticfiles %}

{% block navbar %}
<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">

            <a class="navbar-brand" href="{% url 'alpacastats:index' %}" ><img src="{% static 'alpacastats/images/logo.png' %}" alt="alpaca" class="alpaca-logo" /></a>


            <a class="navbar-right get-started" href="{% url 'alpacastats:statistics' event.id %}">
                <p class="navbar-text">Current</p>
            </a>
            <a class="navbar-right get-started" href="{% url 'alpacastats:pool' event.id %}">
                <p class="navbar-text">Pool</p>
            </a>
        </div>
    </nav>
</header>
{% endblock %}


{% block content %}

{% if currenttrack %}
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="alert alert-warning" role="alert">{{ currenttrack.name }} by {{ currenttrack.artist }} is currently playing
            </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Movement: {{ currenttrack.name }}</div>
            <div class="panel-body">
                <div id="movement" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Votes: {{ currenttrack.name }}</div>
            <div class="panel-body">
                <div id="votes" style="min-width: 310px; height: 200px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Total Movement</div>
            <div class="panel-body">
                <div id="move-total" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Track Record</div>
            <div class="panel-body">
                <div id="track-record" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Song Pool</div>
            <div class="panel-body">
                <table id="pool" class="table table-hover"></table>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}


<!-- jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Everything else below -->

{% block footer_scripts %}
<script>
    var dynamicTable = (function() {

    var _tableId, _table,
        _fields, _headers,
        _defaultText;

    /** Builds the row with columns from the specified names.
     *  If the item parameter is specified, the memebers of the names array will be used as property names of the item; otherwise they will be directly parsed as text.
     */
    function _buildRowColumns(names, item) {
        var row = '<tr>';
        if (names && names.length > 0)
        {
            $.each(names, function(index, name) {
                var c = item ? item[name+''] : name;
                row += '<td>' + c + '</td>';
            });
        }
        row += '<tr>';
        return row;
    }

    /** Builds and sets the headers of the table. */
    function _setHeaders() {
        // if no headers specified, we will use the fields as headers.
        _headers = (_headers == null || _headers.length < 1) ? _fields : _headers;
        var h = _buildRowColumns(_headers);
        if (_table.children('thead').length < 1) _table.prepend('<thead></thead>');
        _table.children('thead').html(h);
    }

    function _setNoItemsInfo() {
        if (_table.length < 1) return; //not configured.
        var colspan = _headers != null && _headers.length > 0 ?
            'colspan="' + _headers.length + '"' : '';
        var content = '<tr class="no-items"><td ' + colspan + ' style="text-align:center">' +
            _defaultText + '</td></tr>';
        if (_table.children('tbody').length > 0)
            _table.children('tbody').html(content);
        else _table.append('<tbody>' + content + '</tbody>');
    }

    function _removeNoItemsInfo() {
        var c = _table.children('tbody').children('tr');
        if (c.length == 1 && c.hasClass('no-items')) _table.children('tbody').empty();
    }

    return {
        /** Configres the dynamic table. */
        config: function(tableId, fields, headers, defaultText) {
            _tableId = tableId;
            _table = $('#' + tableId);
            _fields = fields || null;
            _headers = headers || null;
            _defaultText = defaultText || 'No items to list...';
            _setHeaders();
            _setNoItemsInfo();
            return this;
        },
        /** Loads the specified data to the table body. */
        load: function(data, append) {
            if (_table.length < 1) return; //not configured.
            _setHeaders();
            _removeNoItemsInfo();
            if (data && data.length > 0) {
                var rows = '';
                $.each(data, function(index, item) {
                    rows += _buildRowColumns(_fields, item);
                });
                var mthd = append ? 'append' : 'html';
                _table.children('tbody')[mthd](rows);
            }
            else {
                _setNoItemsInfo();
            }
            return this;
        },
        /** Clears the table body. */
        clear: function() {
            _setNoItemsInfo();
            return this;
        }
    };
}());

    var dt = dynamicTable.config('pool',
                                 ['name', 'artist', 'up', 'down', 'type', 'play'],
                                 ['Name', 'Artist', 'Likes', 'Dislikes', 'Origin','Play Track'], //set to null for field names instead of custom header names
                                 'There are no songs in the pool - try adding some!');
    function requestPoolData() {
        $.ajax({
            url: '{% url 'alpacastats:tracks_data' %}?event={{ event.id }}',
            success: function (response) {

                dt.load(response.tracks)

                // call it again after two seconds
                setTimeout(requestPoolData, 2000);
            },
            cache: false
        });
    }

    requestPoolData();

</script>

<script>

    function requestColumnData() {
    $.ajax({
        url: '{% url 'alpacastats:track_columns' %}?event={{ event.id }}',
        success: function(response) {


            var chart_tracks = $('#track-record').highcharts();
            chart_tracks.xAxis[0].setCategories(response.tracknames, false);
            chart_tracks.series[0].setData(response.upvotes, false);
            chart_tracks.series[0].setData(response.downvotes, false);
            chart_tracks.redraw();



            // call it again after two seconds
            setTimeout(requestStatisticsData, 2000);
        },
        cache: false
    });
}

    chart_subtopics = new Highcharts.Chart({
      chart: {
          renderTo: 'track-record',
          type: 'column',
          backgroundColor: '#fff'
        },
        title: false,
        xAxis: {
            categories: [],
            crosshair: true
        },
        exporting: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: false,
            reversedStacks: false
        },
        tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
        },
        legend: {
            enabled: false
        },
        credits: false,
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: []
    });

    chart_subtopics.addSeries({
        name: 'Upvotes',
        data: [],
        color: '#011627'
      });
    chart_subtopics.addSeries({
        name: 'Downvote',
        data: [],
        color: '#ff9f1c'
      });

    $(function () {
    $('#move-total').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy',
            events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];

                            setInterval(function () {

                                $.ajax({
                                    url: '{% url 'alpacastats:scatter' %}?event={{ event.id }}',
                                    success: function(response) {
                                        series.setData(response)
                                    },
                                    cache: false
                                });
                            }, 3000);
                        }
                    }
        },
        title: {
            text: ' '
        },
        credits: {
            enabled: false
        },
        xAxis: {
            title: {
                enabled: false
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        exporting: {
            enabled: false
        },
        yAxis: {
            title: {
                enabled: false
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: 'Time: {point.x}, Movement: {point.y}'
                }
            }
        },
        series: [{
            name: 'Movement',
            color: 'rgba(1, 22, 39, 0.58)',
            data: []
        },]
    });
});


    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            $('#votes').highcharts({
                chart: {
                    type: 'area',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var serieslikes = this.series[0];
                            var seriesdislikes = this.series[1];

                            setInterval(function () {

                                $.ajax({
                                    url: '{% url 'alpacastats:votes_data' %}?event={{ event.id }}',
                                    success: function(response) {
                                        var x = (new Date()).getTime(), // current time
                                        likes = response.upvotes;
                                        dislikes = 0 - response.downvotes;
                                        serieslikes.addPoint([x, likes], true, true);
                                        seriesdislikes.addPoint([x, dislikes], true, true);


                                    },
                                    cache: false
                                });
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: ' '
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Likes',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                                time = (new Date()).getTime(),
                                i;

                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i * 1000,
                                y: 0
                            });
                        }
                        return data;
                    }()),
                    color: "#ffb635"
                }, {
                    name: 'Dislikes',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                                time = (new Date()).getTime(),
                                i;

                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i * 1000,
                                y: 0
                            });
                        }
                        return data;
                    }()),
                    color: "#011627"
                }]
            });
        });
    });

    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            $('#movement').highcharts({
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {

                                $.ajax({
                                    url: '{% url 'alpacastats:movement_data' %}?event={{ event.id }}',
                                    success: function(response) {
                                        var x = (new Date()).getTime(), // current time
                                        y = response.movement;
                                        series.addPoint([x, y], true, true);


                                    },
                                    cache: false
                                });
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: ' '
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Movement Data',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                                time = (new Date()).getTime(),
                                i;

                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i * 1000,
                                y: 0
                            });
                        }
                        return data;
                    }()),
                    color: "#011627"
                }]
            });
        });
    });

    requestColumnData();
</script>

{% endblock %}}