{% extends 'alpacastats/base.html' %}

{% load staticfiles %}

{% block navbar %}
<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <p class="logo-type">Alpaca</p>
            </a>
            {% if currenttrack %}
            <p class="navbar-text navbar-left audiotext">{{ currenttrack.name }} - {{ currenttrack.artist }}  |  16 <span class="glyphicon glyphicon-arrow-up"></span> and 10 <span class="glyphicon glyphicon-arrow-down"></span></p>
            {% endif %}
            <a class="navbar-right get-started">
                <p class="navbar-text">Current</p>
            </a>
            <a class="navbar-right get-started">
                <p class="navbar-text">Pool</p>
            </a>
        </div>
    </nav>
</header>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Movement: {{ currenttrack.name }}</div>
            <div class="panel-body">
                <div id="movement" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Votes: {{ currenttrack.name }}</div>
            <div class="panel-body">
                <div id="stats" style="min-width: 310px; height: 200px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary event">
            <div class="panel-heading">Current song being played</div>
            <div class="panel-body">
                <table id="table"></table>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}


<!-- jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Everything else below -->

{% block footer_scripts %}

<script>
    $(function () {
        $('#stats').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Like',
                data: [5, 3, 4, 7, 2]
            }, {
                name: 'Dislike',
                data: [-2, -1, -3, -2, -1]
            }]
        });
    });
</script>
<script>
    $('#table').bootstrapTable({
        columns: [{
            field: 'id',
            title: 'Time'
        }, {
            field: 'name',
            title: 'Song Name'
        }, {
            field: 'price',
            title: 'Upvotes/Downvotes'
        }],
        data: [{
            id: 1,
            name: 'Badzu - Let\'s Have a Party',
            price: '$1'
        }, {
            id: 2,
            name: 'Item 2',
            price: '$2'
        }, {
            id: 3,
            name: 'Item 2',
            price: '$2'
        }, {
            id: 4,
            name: 'Item 2',
            price: '$2'
        }]
    });
</script>
<script>
    function requestStatisticsData() {
    $.ajax({
        url: {% url 'alpacastats:movement_data' %},
        success: function(response) {

            var chart_movement = $('#points').highcharts();



            var latest_on = 'On: ';
            for (i_latest = 0; i_latest < response.latest_point_subtopics.length; ++i_latest) {
              latest_on += response.latest_point_subtopics[i_latest] + ', ';
            }
            $('#latest_on').html(latest_on);

            if (response.running_order[0] !== undefined) {
              running_html = '<h2>Next Points:</h2>';
              var pos = 0;
              response.running_order.forEach(function(point){
                pos ++;
                running_html += '<h3>' + pos + '. ' + point + '</h3>';
              });
              $('#next').html(running_html);
            } else {
              $('#next').html('');
            }

            // call it again after two seconds
            setTimeout(requestStatisticsData, 2000);
        },
        cache: false
    });
}

    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            $('#movement').highcharts({
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {

                                $.ajax({
                                    url: '{% url 'alpacastats:movement_data' %}?event={{ event.id }}',
                                    success: function(response) {
                                        var x = (new Date()).getTime(), // current time
                                        y = response.movement;
                                        series.addPoint([x, y], true, true);


                                    },
                                    cache: false
                                });
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: ' '
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Random data',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                                time = (new Date()).getTime(),
                                i;

                        for (i = -19; i <= 0; i += 1) {
                            data.push({
                                x: time + i * 1000,
                                y: 0
                            });
                        }
                        return data;
                    }())
                }]
            });
        });
    });
</script>

{% endblock %}}